// place your custom styles here
@use 'sass:color';

@use 'config';

@font-face {
    font-family: 'AaCute';
    font-weight: normal;
    font-style: normal;
    src: url(//store.kurimula-airi.top/woff/AaCute.woff2) format('woff2');
    // src: url('/assets/woff/AaCute.woff'), format('woff');
}

body {
    font-synthesis: weight style small-caps;
}

.transparent-navbar {
    .sidebar-open {
        .vp-navbar {
            background-color: var(--navbar-c-bg);
            box-shadow: 0 2px 8px var(--vp-c-shadow);
            -webkit-backdrop-filter: saturate(150%) blur(12px);
            backdrop-filter: saturate(150%) blur(12px);

            .DocSearch-Button {
                background: var(--docsearch-searchbox-background);
            }
        }

        .vp-sidebar {
            box-shadow: 2px 0 8px var(--vp-c-shadow);
            background: var(--sidebar-c-bg);
        }
    }

    .vp-navbar {
        .vp-dropdown-wrapper .vp-dropdown {
            border: none;
            background: var(--navbar-c-bg);
            -webkit-backdrop-filter: saturate(150%) blur(12px);
            backdrop-filter: saturate(150%) blur(12px);
        }

        .vp-appearance-dropdown {
            border: none;
            background-color: var(--navbar-c-bg);
            -webkit-backdrop-filter: saturate(150%) blur(12px);
            backdrop-filter: saturate(150%) blur(12px);
        }
    }

    .vp-navbar:has(+ .vp-nav-screen) {
        background-color: var(--navbar-c-bg);
        box-shadow: 0 2px 8px var(--vp-c-shadow);
        -webkit-backdrop-filter: saturate(150%) blur(12px);
        backdrop-filter: saturate(150%) blur(12px);

        .DocSearch-Button {
            background: var(--docsearch-searchbox-background);
        }
    }

    .vp-navbar:hover {
        background-color: var(--navbar-c-bg);
        box-shadow: 0 2px 8px var(--vp-c-shadow);
        -webkit-backdrop-filter: saturate(150%) blur(12px);
        backdrop-filter: saturate(150%) blur(12px);

        .DocSearch-Button {
            background: var(--docsearch-searchbox-background);
        }
    }

    .vp-sidebar {
        background: transparent;
        box-shadow: unset;
    }
}

.vp-blog-hero-title {
    color: var(--vp-c-accent-hover);
    -webkit-text-stroke: 0.1px config.$theme-color;
}

.vp-footer-wrapper {
    z-index: 100;
}

.vp-nav-logo {
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--logo-border-color);
    background-color: var(--logo-background-color);
}

.vp-nav-screen {
    scrollbar-width: thin;
    scrollbar-color: var(--vp-sidebar-scrollbar-thumb-color);
}

.vp-blogger-avatar {
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--logo-border-color);
    background-color: var(--logo-background-color);
}

.vds-title-text,
.vds-time {
    color: var(--vds-font-color)
}

// 红色信息
#red-msg {
    color: #E53939;
}

// 蓝色信息
#blue-msg {
    color: var(--blue-msg-color);
}