// you can change colors here
$vp-font: 'AaCute';

$vp-font-heading: 'AaCute';

$blue-msg-color: (
    light: #47857c,
    dark: #bdfeff
) !default;

$vp-c-bg: (
  light: #ffffff,
  dark: #1b1b1f,
) !default;

$logo-border-color: (
    light: rgba(32, 33, 39, 0.9),
    dark: rgba(255, 255, 255, 0.9)
) !default;

$logo-background-color: (
    light: rgba(255, 255, 255, 0.9),
    dark: rgba(32, 33, 39, 0.9),
) !default;

$vds-font-color: (
    light: rgba(32, 33, 39, 0.9),
    dark: rgba(255, 255, 255, 0.9)
) !default;

$vds-slide-track-color: (
    light: rgba(50, 50, 50, 0.1),
    dark: rgba(255, 255, 255, 0.5)
) !default;

$vp-sidebar-scrollbar-thumb-color: (
    light: rgb(92, 171, 159),
    dark: rgb(97, 181, 168)
) !default;

